# Проектная работа (Яндекс)

## Устанавливаем библиотеку методом pip

In [1]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/danielnodelman/opt/anaconda3/lib/python3.8/site-packages (2.9.3)

## Используем скрипт для подключения к сырой базе данных.

In [2]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

## Формируем SQL запрос

In [3]:
# В переменной записываем SQL - запрос всей информации из dash_visits
query = '''
    SELECT *
    FROM dash_visits
    '''

## Делаем запрос в базу данных.

In [4]:
# Формируем текст запроса 
dash_visits = pd.io.sql.read_sql(query, con = engine)

## Меням формат выгруженной информации на csv

In [5]:
dash_visits.to_csv('dash_visits.csv')

## Выводим общую информацию.

In [6]:
# Метод info()
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

In [7]:
# Метод describe()
dash_visits.describe()

          record_id        visits
count  3.074500e+04  30745.000000
mean   1.055969e+06     10.089673
std    8.875461e+03     19.727601
min    1.040597e+06      1.000000
25%    1.048283e+06      1.000000
50%    1.055969e+06      3.000000
75%    1.063655e+06     10.000000
max    1.071341e+06    371.000000

In [8]:
# Первые 5 строк методом head()
dash_visits.head(5)

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

###  Вывод:
- Пропуски отсутвуют.
- Данные предобработаны.
Файл загружен на локальное устройство. Теперь можно приступать к построению дашборда в Tableau

## Ссылка на дашборд.
- https://public.tableau.com/views/analytics_yandex_dzen/_?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link
## Ссылка на презентацию
- https://drive.google.com/file/d/1I4-_D3L1gD34nsk7xC_tiMwE20exXOFT/view?usp=sharing